/* Styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p, ul, table {
    margin-bottom: 15px;
}

/* Header */

header {
    background-color: #4EA0FF;
    background-image: url(/img/pattern.png);
    background-size: 30%;
    height: 100px;
}

#logo {
    height: 50px;
    margin-top: 40px;
    padding-left: 5px;
}

/* Left Margin */

main, footer{
    margin-left: 5px;
}

/* Title */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
}

/* Author and date */
#aut_date {
    color: gray;
    font-weight: bold;
}

/* Article Images */
#article_images {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
}
/* Paragraphs */
.highlight {
    background-color: yellow;
}

/* Table */

table {
    border-spacing: 0;
}

thead {
    background-color: #20A9E5;
    color: white;
}

#wide_heading {
    width: 50%;
}

.blue_row {
    background-color: #B1E5F2;
}

/* Footer */

#interest {
    font-weight: bolder;
    color: gray;
    font-size: 18px;
}

.foot_img {
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    height: 200px;
    margin: 10px 0;
    text-align: center;
}

#foot_img1 {
    background-image: url(/img/monitor.jpg);
}

#foot_img2 {
    background-image: url(/img/graph.jpg);
}


